# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.env
*.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.log

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env

# Docker
*.log
docker-compose.override.yml
*.pid
*.sock
*.cache
*.swp
*.bak
*.tmp
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
y7
